body {
    font: 20px Ariel, sans-serif;
}

.img_learn {
    border-radius: 50px;
    border: 1px solid rgba(97, 22, 22, 0);
    width: 40%;
    display: block;
    margin: 15px;
}

.navbar {
    background-color: rgb(31, 8, 29);
}

.quem-somos {
    background-color: aquamarine;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(59, 114, 114);
}